In [2]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

import json   
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

print('Folium installed')
print('Libraries imported.')

Folium installed
Libraries imported.

In [3]:
start_date='2020-01-12'
end_date='2020-01-19'
league='NFL'
url_scoreboard = 'https://delivery.chalk247.com/scoreboard/{}/{}/{}.json?api_key=74db8efa2a6db279393b433d97c2bc843f8e32b0'.format(league,start_date,end_date)
url_scoreboard

'https://delivery.chalk247.com/scoreboard/NFL/2020-01-12/2020-01-19.json?api_key=74db8efa2a6db279393b433d97c2bc843f8e32b0'

In [4]:
results_score = requests.get(url_scoreboard).json()

In [5]:
df=pd.read_json (url_scoreboard)

In [6]:
daterange = pd.date_range(start_date, end_date)
df_res={}
for date in daterange:
    dt=date.strftime("%Y-%m-%d")
    if bool(df['results'][dt]):
        df_res[dt]=df['results'][dt]['data']
    else:
        print("No sport data on "+dt)
    
df_res.keys()

No sport data on 2020-01-13
No sport data on 2020-01-14
No sport data on 2020-01-15
No sport data on 2020-01-16
No sport data on 2020-01-17
No sport data on 2020-01-18

dict_keys(['2020-01-12', '2020-01-19'])

In [7]:
dff = pd.DataFrame()
for key in df_res.keys():
    df_res1=df_res[key]
    dff=pd.concat([dff, pd.DataFrame(df_res1)], axis=1)

In [8]:
dff.head()

,1233827,1233912,1234560,1234565
stadium,Arrowhead Stadium,Lambeau Field,Arrowhead Stadium,Levi's Stadium
event_id,1233827,1233912,1234560,1234565
event_date,2020-01-12 15:05,2020-01-12 18:40,2020-01-19 15:05,2020-01-19 18:40
away_team_id,42,52,62,39
away_primary_color,#02253A,#0B2343,#00295B,#244729

In [9]:
dff=dff.transpose()
dff.head()

,stadium,event_id,event_date,away_team_id,away_primary_color,away_secondary_color,away_tertiary_color,away_abbreviation,away_name,away_nick_name,...,tv_station_name,surface,stadium_rotation,roof,away_record,home_record,recap_available,scoring,home_rotation,away_rotation
1233827,Arrowhead Stadium,1233827,2020-01-12 15:05,42,#02253A,#B31B34,#FFFFFF,HOU,Houston Texans,Texans,...,CBS,Grass,140,Open,11-6,12-4,Yes,"{'data': {'A': {'quarter1score': '21', 'quarte...",306,305
1233912,Lambeau Field,1233912,2020-01-12 18:40,52,#0B2343,#549F27,#FFFFFF,SEA,Seattle Seahawks,Seahawks,...,FOX,Grass,180,Open,12-5,13-3,Yes,"{'data': {'H': {'quarter1score': '7', 'quarter...",308,307
1234560,Arrowhead Stadium,1234560,2020-01-19 15:05,62,#00295B,#347AAA,#FFFFFF,TEN,Tennessee Titans,Titans,...,CBS,Grass,140,Open,11-7,13-4,Yes,"{'data': {'A': {'quarter1score': '10', 'quarte...",314,313
1234565,Levi's Stadium,1234565,2020-01-19 18:40,39,#244729,#E0A200,#FFFFFF,GB,Green Bay Packers,Packers,...,FOX,Grass,150,Open,14-3,14-3,Yes,"{'data': {'A': {'quarter1score': '0', 'quarter...",312,311

In [10]:
url_teamrankings='https://delivery.chalk247.com/team_rankings/NFL.json?api_key=74db8efa2a6db279393b433d97c2bc843f8e32b0'
results_rank = requests.get(url_teamrankings).json()

In [11]:
teams = results_rank['results']['data']

# tranform teams into a dataframe
dataframe = json_normalize(teams)
dataframe.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  after removing the cwd from sys.path.

  team_id           team rank last_week  points modifier adjusted_points
0      48      Baltimore    1         1  65.186    0.540          35.200
1      63    Kansas City    2         2  38.544    0.550          21.199
2      70    New Orleans    3         5  39.322    0.462          18.186
3      58  San Francisco    4         3  25.858    0.600          15.515
4      56         Dallas    5         7  27.748    0.433          12.024

In [23]:
df_scoreboard=dff[['event_id', 'event_date', 'away_team_id','away_nick_name', 'away_city','home_team_id','home_nick_name', 'home_city']]

In [24]:
df_scoreboard.head()

,event_id,event_date,away_team_id,away_nick_name,away_city,home_team_id,home_nick_name,home_city
1233827,1233827,2020-01-12 15:05,42,Texans,Houston,63,Chiefs,Kansas City
1233912,1233912,2020-01-12 18:40,52,Seahawks,Seattle,39,Packers,Green Bay
1234560,1234560,2020-01-19 15:05,62,Titans,Tennessee,63,Chiefs,Kansas City
1234565,1234565,2020-01-19 18:40,39,Packers,Green Bay,58,49ers,San Francisco

In [28]:
df_scoreboard[['event_date','event_time']] = df_scoreboard.event_date.str.split(" ",1,expand=True,)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [30]:
mid = df_scoreboard['event_time']
df_scoreboard.drop(labels=['event_time'], axis=1,inplace = True)
df_scoreboard.insert(2, 'event_time', mid)
df_scoreboard.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,event_id,event_date,event_time,away_team_id,away_nick_name,away_city,home_team_id,home_nick_name,home_city
1233827,1233827,2020-01-12,15:05,42,Texans,Houston,63,Chiefs,Kansas City
1233912,1233912,2020-01-12,18:40,52,Seahawks,Seattle,39,Packers,Green Bay
1234560,1234560,2020-01-19,15:05,62,Titans,Tennessee,63,Chiefs,Kansas City
1234565,1234565,2020-01-19,18:40,39,Packers,Green Bay,58,49ers,San Francisco

In [31]:
dataframe.rename(columns={'team_id':'away_team_id'},inplace=True)

  away_team_id           team rank last_week  points modifier adjusted_points
0           48      Baltimore    1         1  65.186    0.540          35.200
1           63    Kansas City    2         2  38.544    0.550          21.199
2           70    New Orleans    3         5  39.322    0.462          18.186
3           58  San Francisco    4         3  25.858    0.600          15.515
4           56         Dallas    5         7  27.748    0.433          12.024

In [37]:
dataframe.head()

  away_team_id           team rank last_week  points modifier adjusted_points
0           48      Baltimore    1         1  65.186    0.540          35.200
1           63    Kansas City    2         2  38.544    0.550          21.199
2           70    New Orleans    3         5  39.322    0.462          18.186
3           58  San Francisco    4         3  25.858    0.600          15.515
4           56         Dallas    5         7  27.748    0.433          12.024

In [88]:
team_final=pd.merge(df_scoreboard, dataframe, on='away_team_id')
team_final.head()

,event_id,event_date,event_time,away_team_id,away_nick_name,away_city,home_team_id,home_nick_name,home_city,team,rank,last_week,points,modifier,adjusted_points
0,1233827,2020-01-12,15:05,42,Texans,Houston,63,Chiefs,Kansas City,Houston,21,17,-13.338,0.550,-6.002
1,1233912,2020-01-12,18:40,52,Seahawks,Seattle,39,Packers,Green Bay,Seattle,19,18,-7.691,0.556,-3.418
2,1234560,2020-01-19,15:05,62,Titans,Tennessee,63,Chiefs,Kansas City,Tennessee,7,11,23.031,0.467,10.748
3,1234565,2020-01-19,18:40,39,Packers,Green Bay,58,49ers,San Francisco,Green Bay,12,12,12.938,0.390,5.046

## Document says to consider the 'rank' column of team_rankings as the value for response label 'away_rank' & 'home_rank'
## It also says to consider the 'adjusted_points' column of team_rankings as the value for response label 'away_rank_points' & 'home_rank_points'

In [89]:
team_final.drop(columns=['last_week','points','modifier','team'], inplace = True)
team_final

,event_id,event_date,event_time,away_team_id,away_nick_name,away_city,home_team_id,home_nick_name,home_city,rank,adjusted_points
0,1233827,2020-01-12,15:05,42,Texans,Houston,63,Chiefs,Kansas City,21,-6.002
1,1233912,2020-01-12,18:40,52,Seahawks,Seattle,39,Packers,Green Bay,19,-3.418
2,1234560,2020-01-19,15:05,62,Titans,Tennessee,63,Chiefs,Kansas City,7,10.748
3,1234565,2020-01-19,18:40,39,Packers,Green Bay,58,49ers,San Francisco,12,5.046

### formatting columns

In [90]:
team_final['event_date'] = pd.to_datetime(team_final['event_date'])
team_final['event_date'] = team_final['event_date'].dt.strftime('%d-%m-%Y')
team_final["adjusted_points"] = team_final.adjusted_points.astype(float)
team_final["adjusted_points"] = team_final.adjusted_points.round(2)

In [93]:
team_final['home_rank']=team_final['rank']
team_final['home_rank_points']=team_final['adjusted_points']

In [94]:
team_final.rename(columns={'rank':'away_rank','adjusted_points':'away_rank_points'},inplace=True)

In [95]:
team_final

,event_id,event_date,event_time,away_team_id,away_nick_name,away_city,home_team_id,home_nick_name,home_city,away_rank,away_rank_points,home_rank,home_rank_points
0,1233827,12-01-2020,15:05,42,Texans,Houston,63,Chiefs,Kansas City,21,-6.00,21,-6.00
1,1233912,12-01-2020,18:40,52,Seahawks,Seattle,39,Packers,Green Bay,19,-3.42,19,-3.42
2,1234560,19-01-2020,15:05,62,Titans,Tennessee,63,Chiefs,Kansas City,7,10.75,7,10.75
3,1234565,19-01-2020,18:40,39,Packers,Green Bay,58,49ers,San Francisco,12,5.05,12,5.05

In [96]:
team_final.columns

Index(['event_id', 'event_date', 'event_time', 'away_team_id',
       'away_nick_name', 'away_city', 'home_team_id', 'home_nick_name',
       'home_city', 'away_rank', 'away_rank_points', 'home_rank',
       'home_rank_points'],
      dtype='object')

### reordering the columns

In [97]:
ACME_final=team_final[['event_id', 'event_date', 'event_time', 'away_team_id','away_nick_name', 'away_city','away_rank', 'away_rank_points','home_team_id', 'home_nick_name','home_city','home_rank','home_rank_points']]

In [98]:
ACME_final

,event_id,event_date,event_time,away_team_id,away_nick_name,away_city,away_rank,away_rank_points,home_team_id,home_nick_name,home_city,home_rank,home_rank_points
0,1233827,12-01-2020,15:05,42,Texans,Houston,21,-6.00,63,Chiefs,Kansas City,21,-6.00
1,1233912,12-01-2020,18:40,52,Seahawks,Seattle,19,-3.42,39,Packers,Green Bay,19,-3.42
2,1234560,19-01-2020,15:05,62,Titans,Tennessee,7,10.75,63,Chiefs,Kansas City,7,10.75
3,1234565,19-01-2020,18:40,39,Packers,Green Bay,12,5.05,58,49ers,San Francisco,12,5.05

## Converting pandas dataframe to JSON response format

In [106]:
ACME_json= ACME_final.to_json(orient='records',indent=2)

In [107]:
print(ACME_json)

[
  {
    "event_id":"1233827",
    "event_date":"12-01-2020",
    "event_time":"15:05",
    "away_team_id":"42",
    "away_nick_name":"Texans",
    "away_city":"Houston",
    "away_rank":"21",
    "away_rank_points":-6.0,
    "home_team_id":"63",
    "home_nick_name":"Chiefs",
    "home_city":"Kansas City",
    "home_rank":"21",
    "home_rank_points":-6.0
  },
  {
    "event_id":"1233912",
    "event_date":"12-01-2020",
    "event_time":"18:40",
    "away_team_id":"52",
    "away_nick_name":"Seahawks",
    "away_city":"Seattle",
    "away_rank":"19",
    "away_rank_points":-3.42,
    "home_team_id":"39",
    "home_nick_name":"Packers",
    "home_city":"Green Bay",
    "home_rank":"19",
    "home_rank_points":-3.42
  },
  {
    "event_id":"1234560",
    "event_date":"19-01-2020",
    "event_time":"15:05",
    "away_team_id":"62",
    "away_nick_name":"Titans",
    "away_city":"Tennessee",
    "away_rank":"7",
    "away_rank_points":10.75,
    "home_team_id":"63",
    "home_nick_name":"Chiefs",
    "home_city":"Kansas City",
    "home_rank":"7",
    "home_rank_points":10.75
  },
  {
    "event_id":"1234565",
    "event_date":"19-01-2020",
    "event_time":"18:40",
    "away_team_id":"39",
    "away_nick_name":"Packers",
    "away_city":"Green Bay",
    "away_rank":"12",
    "away_rank_points":5.05,
    "home_team_id":"58",
    "home_nick_name":"49ers",
    "home_city":"San Francisco",
    "home_rank":"12",
    "home_rank_points":5.05
  }
]